{% extends "frontend/base.html" %}
{% load static %}

{% block title %} Главная {% endblock title %}

{% block content %}

<div class="main">
    <link rel="stylesheet" href="{% static 'frontend/css/index.css' %}">
    <h1 class="titleh1">Заказы</h1>

    <div class="card">
        <div class="header">
            <h2><a href="#" class="title">Задание по css</a></h2>
            <h2 class="user">Admin</h2>
        </div>
        <p class="description">Свойство font-family используется для выбора начертания шрифта.
             Поскольку невозможно предсказать, установлен тот или иной шрифт на компьютере посетителя вашего сайта,
              рекомендуется прописывать все возможные варианты однотипных шрифтов. В таком случае браузер будет
               проверять их наличие, последовательно перебирая предложенные варианты.
        </p>
               
        <div class="card-footer">
            <div class="card-price">
                <h2 class="price">Цена задания: 8000 руб</h2>
            </div>
            <div class="action">
                <a href="{% url "frontend:task" %}" class="look-btn">Посмотреть задание</a>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="header">
            <h2><a href="#" class="title">Задание по css<span class="urgent-marker">СРОЧНО</span></a></h2>
            <h2 class="user">Admin</h2>
        </div>
        <p class="description">Свойство font-family используется для выбора начертания шрифта.
             Поскольку невозможно предсказать, установлен тот или иной шрифт на компьютере посетителя вашего сайта,
              рекомендуется прописывать все возможные варианты однотипных шрифтов. В таком случае браузер будет
               проверять их наличие, последовательно перебирая предложенные варианты.
        </p>
               
        <div class="card-footer">
            <div class="card-price">
                <h2 class="price">Цена задания: 8000 руб</h2>
            </div>
            <div class="action">
                <a href="#" class="look-btn">Посмотреть задание</a>
            </div>
        </div>

    </div>
    <div class="card">
        <div class="header">
            <h2><a href="#" class="title">Задание по css<span class="urgent-marker">СРОЧНО</span></a></h2>
            <h2 class="user">Admin</h2>
        </div>
        <p class="description">Свойство font-family используется для выбора начертания шрифта.
             Поскольку невозможно предсказать, установлен тот или иной шрифт на компьютере посетителя вашего сайта,
              рекомендуется прописывать все возможные варианты однотипных шрифтов. В таком случае браузер будет
               проверять их наличие, последовательно перебирая предложенные варианты.
        </p>
               
        <div class="card-footer">
            <div class="card-price">
                <h2 class="price">Цена задания: 8000 руб</h2>
            </div>
            <div class="action">
                <a href="#" class="look-btn">Посмотреть задание</a>
            </div>
        </div>

    </div>

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a> <!-- Active page -->
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
    </div>

</div>

{% endblock content %}
