{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frontend/css/login-register.css' %}">

    <title>Регистрация</title>
</head>
<body>
    <div class="login-container">
        <h1 class="login-title">Регистрация в People Finder</h1>

        <div class="login-form">
            <div class="user-name">
                <label for="username" class="user-login">Логин</label>
                <input id="username" type="text" placeholder="Введите логин">
            </div>
        
            <div class="user-password">
                <label for="password1">Пароль</label>
                <input id="password1" type="password" placeholder="Введите пароль">

                <label for="password2">Повтор пароля</label>
                <input id="password2" type="password" placeholder="Введите пароль">

            </div>
        
            <div class="action">
                <button class="look-btn">Регистрация</button>
            </div>
        
            <div class="links">
                <p>Есть аккаунт? <a href="{% url "frontend:login" %}">Войти</a></p>
            </div>
        </div>
    </div>  
</body>
</html>