{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frontend/css/login-register.css' %}">

    <title>Регистрация</title>
</head>
<body>
    <form @submit.prevent="signUp()">
        <div class="login-container">
            <h1 class="login-title">Регистрация в People Finder</h1>

            <div class="login-form">

                <div class="user-name">
                    <label for="name" class="user-login">Имя</label>
                    <input id="name" type="text" placeholder="Введите логин">
                </div>

                <div class="user-name">
                    <label for="login" class="user-login">Логин</label>
                    <input id="login" type="text" placeholder="Введите логин">
                </div>
            
                <div class="user-password">
                    <label for="password1">Пароль</label>
                    <input id="password1" type="password" placeholder="Введите пароль">

                    <label for="password2">Повтор пароля</label>
                    <input id="password2" type="password" placeholder="Введите пароль">

                </div>
            
                <div class="action">
                    <input class="look-btn" value="Регистрация" type="submit">
                </div>
                <div id="error-message" style="color: red;"></div>
            
                <div class="links">
                    <p>Есть аккаунт? <a href="{% url "frontend:login" %}">Войти</a></p>
                </div>
            </div>
        </div> 
    </form> 
</body>
</html>

<script src="{% static 'frontend/js/register.js'%}"></script>