{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Заказ: Задание по css{% endblock title %}

{% block content %}
<div class="main">
    <link rel="stylesheet" href="{% static 'frontend/css/task.css' %}">
    <h1 class="titleh1"></h1>
    
    <div class="card">
        <div class="header">
            <h2 class="title"></h2>
            <h2 class="user-taken-task"></h2>
            <h2 class="user"></h2>
        </div>
        <p class="description"></p>
        
        <div class="wrap-tag">
            <div class="tags">
                <h3>Теги</h3>
                <div class="tag-container">
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="card-price">
                <h2 class="price"></h2>
            </div>
            
            <div class="action">
                <form action="" method="post" id="take-task">
                    {% csrf_token %}
                    <button type="submit" class="look-btn">Взять заказ</button>
                </form>
            </div>
            
        </div>
    </div>
</div>
<script src="{% static 'frontend/js/task.js' %}"></script>
{% endblock content %}
