{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Пользователи{% endblock title %}


{% block content %}
<link rel="stylesheet" href="{% static 'frontend/css/users.css' %}">

<div class="content">
    <div class="profile-section">
        <div class="profile-info">
            <div class="avatar">
                <img src="{% static "frontend/img/image.jpg" %}" alt="Аватар">
            </div>
            <h2 class="user-name"><a href="{% url "frontend:profile" %}" class="user-link">Admin</a></h2>
            <ul class="user-details">
                <li><strong>Возраст:</strong> <span>25 лет</span></li>
                <li><strong>Стаж работы:</strong> <span>5 лет</span></li>
                <li><strong>Навыки:</strong> <span>Pascal, Python, CSS, HTML</span></li>
            </ul>        
        </div>
    </div>

    <div class="profile-section">
        <div class="profile-info">
            <div class="avatar">
                <img src="{% static "frontend/img/image.jpg" %}" alt="Аватар">
            </div>
            <h2 class="user-name"><a href="{% url "frontend:profile" %}" class="user-link">Admin</a></h2>
            <ul class="user-details">
                <li><strong>Возраст:</strong> <span>25 лет</span></li>
                <li><strong>Стаж работы:</strong> <span>5 лет</span></li>
                <li><strong>Навыки:</strong> <span>Pascal, Python, CSS, HTML</span></li>
            </ul>        
        </div>
    </div>
    
    <div class="profile-section">
        <div class="profile-info">
            <div class="avatar">
                <img src="{% static "frontend/img/image.jpg" %}" alt="Аватар">
            </div>
            <h2 class="user-name"><a href="{% url "frontend:profile" %}" class="user-link">Admin</a></h2>
            <ul class="user-details">
                <li><strong>Возраст:</strong> <span>25 лет</span></li>
                <li><strong>Стаж работы:</strong> <span>5 лет</span></li>
                <li><strong>Навыки:</strong> <span>Pascal, Python, CSS, HTML</span></li>
            </ul>        
        </div>
    </div>

</div>

{% endblock content %}