{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Настройки пользователя{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'frontend/css/user-settings.css' %}">

<div class="settings">
    <h2>Настройки пользователя</h2>
    <form class="settings-form" id="settings-form" action="" >
        {% csrf_token %}
        <div class="form-group">
            <label for="avatar">Аватар</label>
            <img id="avatar-img" src="">
            <input type="file" id="avatar" name="avatar">
        </div>
        
        <div class="form-group">
            <label for="age">Возраст</label>
            <input type="number" id="age" name="age">
        </div>

        <div class="form-group">
            <label for="experience">Стаж работы</label>
            <input type="number" id="experience" name="experience">
        </div>

        <div class="form-group">
            <label for="phone-number">Номер телефона:</label>
            <input type="number" id="phone-number" name="phone-number">
        </div>

        <div class="form-group">
            <label for="Email">Почта</label>
            <input type="textarea" id="Email" name="Email">
        </div>

        <div class="form-group">
            <label for="skills">Навыки</label>
            <select id="skills" name="skills" multiple></select>
        </div>
        

        <button class="submit-btn" type="submit">Обновить настройки</button>
    </form>
</div>

<script src="{% static 'frontend/js/user-settings.js'%}"></script>
{% endblock content %}
