.settings {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    width: 700px;
    min-height: 200px;
    background-color: #fdd835;
    margin: 50px auto; /* добавить отступ сверху */
    padding: 20px;
    box-sizing: border-box;
}


.settings h2 {
    color: black;
}

.settings-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    color: black;
    margin-bottom: 5px;
}

.form-group input, 
.form-group textarea {
    padding: 10px;
    border: 1px solid #333;
}

.submit-btn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.submit-btn:hover {
    background-color: #333;
}

